@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background: linear-gradient(to bottom,  #ad5389, #ffffff,  #ad5389);
    color: #ffffff;
}
.card{
    background: #ad5389;
    color: #ffffff;
}

#boton {
    background: #ad5389;
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);
    background: linear-gradient(to top, #3c1053, #ad5389);
    width: 130px;
    border: none;
}

